@model CreateProductViewModel

<div class="modal fade" id="ProductCreateModal" tabindex="-1" role="dialog" aria-labelledby="ProductCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success align-items-center text-white">
                <i class="fa fa-plus-square"></i>
                <h5 class="modal-title ms-2">Thêm mới sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formCreateProduct" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <img src="~/img/product/no-image.jpg" class="img-responsive img-thumbnail" id="targetImage" style="width: 100%; max-height: 500px;" />
                        </div>
                        <div class="col-md-8">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-group row mb-0 required">
                                        <label asp-for="Name" class="col-md col-form-label font-weight-normal control-label text-end custom-label">
                                            @Html.DisplayNameFor(model => model.Name)
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <input asp-for="Name" type="text" class="form-control" required placeholder="Nhập tên sản phẩm..." autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row mb-0 required">
                                        <label asp-for="ImageURL" class="col-md col-form-label font-weight-normal control-label text-end custom-label">
                                            @Html.DisplayNameFor(model => model.ImageURL)
                                        </label>
                                        <div class="col-sm-8">
                                            <input asp-for="ImageURL" name="Image" type="file" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-group row mb-0 required">
                                        <label asp-for="OriginalPrice" class="col-md col-form-label font-weight-normal control-label text-end custom-label">
                                            @Html.DisplayNameFor(model => model.OriginalPrice)
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <input asp-for="OriginalPrice" type="text" class="form-control input-amount" required placeholder="Nhập giá gốc..." autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row mb-0 required">
                                        <label asp-for="Price" class="col-md col-form-label font-weight-normal control-label text-end custom-label">
                                            @Html.DisplayNameFor(model => model.Price)
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <input asp-for="Price" type="text" class="form-control input-amount" required placeholder="Nhập giá bán..." autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-group row mb-0 required">
                                        <label asp-for="Inventory" class="col-md col-form-label font-weight-normal control-label text-end custom-label">
                                            @Html.DisplayNameFor(model => model.Inventory)
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <input asp-for="Inventory" type="text" class="form-control input-amount" required placeholder="Nhập số lượng..." autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row mb-0 required">
                                        <label asp-for="CategoryId" class="col-md col-form-label font-weight-normal control-label text-end custom-label">
                                            @Html.DisplayNameFor(model => model.CategoryId)
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <select asp-for="CategoryId" asp-items="ViewBag.CategoryItems" class="form-select form-control" required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-group row mb-0 required">
                                        <label asp-for="Status" class="col-md col-form-label font-weight-normal control-label text-end custom-label">
                                            @Html.DisplayNameFor(model => model.Status)
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <select asp-for="Status" asp-items="@Html.GetEnumSelectList<StatusActivity>()" class="form-select form-control" required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-group row mb-0 required">
                                        <label asp-for="Description" class="col-md col-form-label font-weight-normal control-label text-end custom-label">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </label>
                                        <div class="col-sm-10">
                                            <textarea asp-for="Description" rows="3" class="form-control" placeholder="Nhập mô tả sản phẩm..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-success create-product">Tạo</button>
            </div>
        </div>
    </div>
</div>

<script src="~/view-resources/views/product/_createmodal.js" asp-append-version="true"></script>